#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

PYVERS := $(shell pyversions -vr)

export GTEST_FILTER = "*:-OsTest.pstree:-ExamplesTest.*"
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed,-lsnappy

override_dh_auto_configure:
	dh_auto_configure -- --prefix=/usr

override_dh_auto_install:
	# Install Python bindings
	cd src/python && \
		for pv in $(PYVERS); do \
			python$$pv setup.py build --build-base=$(CURDIR)/src/python/build \
								 install --root=$(CURDIR)/debian/tmp --install-layout=deb ;\
		done
	dh_auto_install

override_dh_auto_build:
	dh_auto_build
	# Build Python bindings
	cd src/python && \
		for pv in $(PYVERS); do \
			python$$pv setup.py build --build-base=$(CURDIR)/src/python/build ;\
		done

%:
	dh $@ --parallel --with autoreconf --with python2
